@model TropicalServerApp.Models.Reads

@{
    Layout ="~/Views/Shared/_CURDLayout.cshtml";
}



    <div>
        <label for="Tracking" style="color: Black; font-family: Calibri; font-size: 16pt; margin-left: 20px;">Tracking Number: </label>
        <input type="text" name="TrackingNums" value="" readonly><br>
        <label for="Customerids" style="color: Black; font-family: Calibri; font-size: 16pt; margin-left: 20px;">Customer ID: </label>
        <input type="text" name="CustomerIDs" value="" readonly><br>
        <label for="OrderTimes" style="color: Black; font-family: Calibri; font-size: 16pt; margin-left: 20px;">Order Date: </label>
        <input type="text" name="OrderDates" value="" readonly><br>
        <label for="CustName" style="color: Black; font-family: Calibri; font-size: 16pt; margin-left: 20px;">Customer Name: </label>
        <input type="text" name="CustomerNames" value="" readonly><br>
        <label for="add" style="color: Black; font-family: Calibri; font-size: 16pt; margin-left: 20px;">Office Address: </label>
        <input type="text" name="theAddress" value="" readonly><br>
        <label for="RouteN" style="color: Black; font-family: Calibri; font-size: 16pt; margin-left: 20px;">The Route Number: </label>
        <input type="text" name="RouteNums" value="" readonly><br>
    </div>


