
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sent</title>
</head>
<body>
    <div>
        <div id="BodyDetail" style="height: 280px; width: 400px; margin: 100px auto; background-color: #FF6600; color: #FFFFFF; padding: 10px;">


            <label id="Loginlbl" for="Tracking">Email Sent! You can close this page now and check your email later.</label>
            
        </div>
    </div>
</body>
</html>
